
.container {
  margin-top: 20px;
}

.conteinerCharacter {
  display: inline-grid;
  padding: 25px;
  text-align: center;
  margin-left: 150px;
}


img:hover{
  width: 15em;
 transition-duration: 5s ;
}

img {
  border-radius: 100%;
}

body {
  background-color:  #000614;
  margin: 0;
}

label {
  font-family: 'Marvel', sans-serif;
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
}

.titlePage {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
  background-color: red;
  font-size: 35px;
  padding: 8px;
}

.divTitlePage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label.titleComics {
    margin-top: -26px;
    font-size: 12px;
    color: yellow;
    letter-spacing: 5px;
    margin-left: 5px;
}